<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="com.model2.domain.Notice" alias="Notice"/>
		<typeAlias type="com.model2.domain.Board" alias="Board"/>
		<typeAlias type="com.model2.domain.Comment" alias="Comment"/>
	</typeAliases>

  <environments default="development">
    <environment id="development">
      <transactionManager type="JDBC"/>
      <dataSource type="JNDI">
        <property name="data_source" value="java:comp/env/jdbc/mariadb"/>
      </dataSource>
    </environment>
  </environments>
  <mappers>
    <mapper resource="com/model2/mybatis/mappers/NoticeMapper.xml"/>
    <mapper resource="com/model2/mybatis/mappers/BoardMapper.xml"/>
    <mapper resource="com/model2/mybatis/mappers/CommentMapper.xml"/>
  </mappers>
</configuration>