<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Dept">

	<!-- 	쿼리결과와 객체간 매핑을 자동으로 하는 것이 아니라, 
			개발자가 주도하여 처리를 하고 싶을 때는 별도의 매핑을 선언... 매핑의 커스터마이징 -->
	
	<resultMap id="deptJoinEmp" type="Dept">
		<id column="deptno" property="deptno"/><!-- primary key -->
		<result column="dname" property="dname"/>
		<result column="loc" property="loc"/>
		<collection column="deptno" property="empList" javaType="java.util.List" ofType="Emp" select="Emp.select">
		</collection>
	</resultMap>
	
	<!-- 여기에 조인문을 쓰는게 아니라 collection을 통해 조인을 하는것이다!!! -->
	<select id="selectAll" resultMap="deptJoinEmp">
		select deptno, dname, loc from dept
	</select>
	
	<!-- 부서정보 1건 가져오기 -->
	<select id="selectById" parameterType="int" resultType="Dept">
		select * from dept where deptno=#{deptno}
	</select>

</mapper>