<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Comment">
	<select id="selectAll" resultType="Comment" parameterType="int">
		select * from comment where board_id=#{board_id} 
		order by comment_id desc
	</select>
	
	<insert id="insert" parameterType="Comment">
		insert into comment(msg, author, board_id) values(#{msg}, #{author}, #{board_id})
	</insert>
	
	<delete id="delete" parameterType="int">
		delete from comment where comment_id=#{comment_id}
	</delete>
</mapper>