<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="com.koreait.mvclegacy.model.domain.Notice" alias="Notice"/>
	</typeAliases>
	<mappers>
	  <mapper resource="com/koreait/mvclegacy/mybatis/mapper/NoticeMapper.xml"/>
	</mappers>
</configuration>