<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Product">

	<insert id="insert" parameterType="Product">
		insert into product(product_id, subcategory_id, product_name, price, brand, detail) 
		values(seq_product.nextval, #{subcategory_id}, #{product_name}, #{price}, #{brand}, #{detail})
		<selectKey order="AFTER" keyProperty="product_id" resultType="int">
			select seq_product.currval as product_id from dual
		</selectKey>
	</insert>
	
	
	<update id="update">
		update product set product_name=#{product_name}, price=#{price}, brand=#{brand}
	</update>
</mapper>