<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="TopCategory">
	
	<!-- 단순 매핑이 아니라, 상위와 하위의 조인을 위한 매핑 -->
	<resultMap  id="joinSubcategory" type="TopCategory">
		<id column="topcategory_id" property="topcategory_id"/>
		<result column="name" property="name"/>
		<result column="rank" property="rank"/>
		<!-- 	부모인 TopCategory입장에서는 자식을 다수 보유할 수 있으므로 collection으로 가져오자! -->
		<collection column="topcategory_id" property="subCategory" 
			javaType="java.util.List" ofType="SubCategory" select="SubCategory.selectAllById"></collection>
	</resultMap>
	
	<!-- 관리자 모드에서 상품 등록시, 사용했었음 -->
	<select id="selectAll" resultMap="joinSubcategory">
		select * from topcategory order by rank asc
	</select>
	
</mapper>